@tailwind base;
@tailwind components;
@tailwind utilities;

.pillCont:hover .pillCir {
  @apply w-[300%] h-[500px] left-[-55%] top-[-50%];
}

.changeCol,
.arrow {
  @apply transition-all duration-300;
}

.pillCont:hover .changeCol,
.pillCont:hover .arrow {
  @apply text-white !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
