@tailwind base;
@tailwind components;
@tailwind utilities;

.pillCont:hover .pillCir {
  @apply w-[300%] h-[500px] left-[-55%] top-[-50%];
}

.changeCol,
.arrow {
  @apply transition-all duration-300;
}

.pillCont:hover .changeCol,
.pillCont:hover .arrow {
  @apply text-white !important;
}

.pill:hover .pillCir2 {
  @apply right-[-10%] w-[300%];
}

.pill:hover * {
  @apply text-black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dropRes::before {
  content: "";
  @apply w-full h-[1em] bg-transparent block absolute top-[-1em];
}

.loadText {
  clip-path: inset(0 2ch 0 0);
  animation: l 1s steps(4) infinite;
}

.optDrop::before {
  content: "";
  @apply absolute p-2 bg-black;
}

@keyframes l {
  to {
    clip-path: inset(0 -0.7ch 0 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
